.main-container{
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
}
#background {
    background-image: url(../../../Pictures/coffee-notebook-writing-computer-34601.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150%;
   

    height: 150%;
    overflow-x: hidden;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
   
    z-index: -1;

    filter: blur(5px);
  
    
}
.title1{ 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-left: 7rem ;
    background-color: rgb(255, 255, 255);
    margin-right: 6.5rem;
    box-shadow: 0px 0px px 2px;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px ;
    padding-bottom: 4px ;
    box-shadow: 0px 0px 6px 1px;
    margin-top: 9px;
}
.title2{
    padding-top: 10px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
    margin: auto;
    background-color: white;
   
    margin-top: 25px;
    margin-bottom: 1rem ;
    padding-top: 3px ;
    padding-bottom: 3px ;
    text-align: center;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px;

}
.students{
    width: 300px;
    height: 350px ;
    background-color: white;
    margin: auto;
    list-style-type: none;
    overflow-y : scroll; 
    overflow-x: hidden;   
    border-radius: 3px;
    
    margin-top: 9px;
    
    
    
}
.fullname{
    width: 200px;
}
.students li {
    
    cursor: pointer;
    position: relative;
    margin-left: -2.2rem;
    margin-right: .3rem ;
    background-color: #EEE;
    font-size: 63%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    
    
    border-radius: 2px;
    padding-left: 2rem;
    padding-top: .45rem;
    padding-bottom: .45rem;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    
    transition: all 250ms ease-in-out;

  }
  .students li:hover {
    
    background-color: rgb(88, 216, 248);
    margin-left: -2.2rem;
    margin-right: .3rem ;
    padding-top: .45rem;
    padding-bottom: .45rem;
    
   
    
  
    
  }
  .mail{
      background-color: rgb(255, 255, 255);
      margin-top: 25px;
      margin-left: 2rem;
      box-shadow: 0px 0px 15px 1px;
      margin-bottom: 4.3rem;
      border-radius: 10px ;
      
  }
  .students li.selected{
    background-color: #CFD8DC;
    color: white;
    padding-top: .55rem;
    padding-bottom: .55rem;
    margin-left: -2.3rem;
    margin-right: .2em;
  }
  .students li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .justification-view{
    width: 330px;
    margin-bottom: 1rem;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px 1px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;



    
  }
  .details-view{
      display: flex;
      flex-direction: row;

  }
  .fullname2{
      padding-left: 1rem;
      padding-top: 1rem;
      width: 480px;
      font-size: 80%;
  }
  .span-view{
      padding-top: 1rem;
      padding-left: 2rem;
      padding-bottom: 1rem;
      
  }
  
  .justification-text{
     
      max-width: 280px;
      min-width: 280px;
      max-height: 230px;
      min-height: 230px;
      margin-left:25px;
      margin-bottom: 2rem;
      border-radius: 5px;
      border: 1.5px solid rgb(0, 0, 0);
  }
  .but-login{
   
    background-color:rgb(255, 255, 255);
    padding: 0.35rem 0.6rem ;
  
    border-radius: 1rem;
    border: none;
    transition: all 250ms ease-in-out;
    
    margin-left: .25rem;
    margin-right: .25rem;
    margin-top: .25rem;
    margin-bottom: .8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 70%;
    
   

}
.but-login:hover{
    margin-left: .15rem;
    margin-right: .15rem;
    margin-top: .2rem;
    margin-bottom: .7rem;
    background-color:rgb(255, 255, 255);
    
    padding: 0.4rem .7rem ;
    border-radius: 1rem;
  
    
    box-shadow: rgb(0, 0, 0) 2px 2px 35px 2px;

}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 3rem;
}


  

      
 