@keyframes shadows{
    from{box-shadow: black 0px 0px 10px 2px;}
    to{box-shadow: transparent 0px 0px 120px 2px;}
}
#background {
    background-image: url(../../../Pictures/coffee-notebook-writing-computer-34601.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150%;

    height: 150%;
    overflow-x: hidden;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
   
    z-index: -1;

    filter: blur(5px);
  
    
}
.form{
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
   
   
    border-radius: 10px;
    border-width: 1rem;
    background-color:  transparent;
    box-shadow: black 2px 2px 35px 2px;
    
    margin: 50px auto;
}
.name{
    width: 100%;
   margin-top: 1rem;
   padding: 10px;
   max-lines: 3;
   text-align: center;
}
.input-form {
border-radius: 40px;
padding: 0.45rem;
margin-bottom: 0rem;
width: 300px;
border: none;
transition: all 250ms ease-in-out;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
}
.input-form:hover {
    border-radius: 40px;
    padding: 0.45rem;
   
    
    border: none;
    animation-name: shadows;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-duration: 500ms;
    }
.art{
width: 300px;
border-radius: 40px;
box-shadow: black 0px 0px 15px 2px;
background-color: white;

padding: 1em 1.2rem;


} 
.img-container{
width: 45%;
text-align: center;
padding-left: 3.5rem ;

}   
.input-form:focus {
        border-radius: 40px;
        padding: 0.6rem;
       
        width: 300px;
        border: none;
        box-shadow: black 0px 0px 15px 2px;
        margin: -0.15rem auto;
        
    
}
.title1{
    margin-top: -0.4rem;
    margin-bottom: 1rem
   }
.title2{
    margin-top: -1.2rem;
    margin-bottom: 1rem
}

.but-login{
   
    background-color:rgb(255, 255, 255);
    padding: 0.45rem 0.9rem ;
    border-radius: 1rem;
    border: none;
    transition: all 250ms ease-in-out;
    margin: 1rem 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   

}
.cus-select{
    text-align: center;
    padding: .5rem 1rem;

    width: 40%;
    border-radius: 20px;
    border: none;
    transition: all 250ms ease-in-out;
   
}
.select:hover{
    box-shadow: rgb(0, 0, 0) 0px 0px 15px 2px;
}
.select:focus{
    box-shadow: rgb(0, 0, 0) 0px 0px 15px 2px;
}
.but-login:hover{
    margin: 0.95rem 0.4rem;
    background-color:rgb(255, 255, 255);
    
    padding: 0.5rem 1rem ;
    border-radius: 1rem;
  
    
    box-shadow: rgb(0, 0, 0) 2px 2px 35px 2px;

}
.button-log{
text-align: center;
}
.form-container{
    width : 50%;
    margin-top: 1rem ;
    text-align: center;
    
    
}
.text-form {
    border-radius: 16px;
    max-height: 150px;
    min-height: 150px;
    max-width: 296px;
    min-width: 296px;
    padding: 0.45rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    width: 300px;
    border: none;
    transition: all 250ms ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    }
    .text-form:hover {
        border-radius: 16px;
        padding: 0.45rem;
       
        
        border: none;
        animation-name: shadows;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-duration: 500ms;
        }
      
    .text-form:focus {
            border-radius: 16px;
            padding: 0.6rem;
           
            
            border: none;
            box-shadow: black 0px 0px 15px 2px;
            margin: -0.15rem auto;
            
        
    }
