<div class=" full">
  <div id="background"></div> 
<div class="form" >
  <img class="art" src="../../assets/ESI-logo.svg">
  <div class="name"><h5 class="title1">Email</h5>       <input class="input-form" placeholder="Enter your email"/></div>
    <div class="name">  <h5 class="title2">Password</h5>     <input class="input-form" type="password" placeholder="Enter your password"/></div>  
    <div class="button-log"><button class="but-login"><b><a>Login</a></b></button><button class="but-login"><b>Sign in</b></button></div>
</div> 
</div>

