<div id="background"></div>
<div class="main-container">
  <div class="title1"><b>EmailBox:</b></div>
<ul class="students">
  <li *ngFor="let student of STUDENTS"
    [class.selected]="student === selectedstudent"
    (click)="onSelect(student)">
    <div class="fullname">{{student.name | uppercase}} {{student.surname}}</div> <div> Group &nbsp;: {{student.group}}</div>
  </li>
</ul>

<div *ngIf="selectedstudent"  >
<div class="title2"><b>Details</b></div>
<div class="justification-view">
<div class="details-view">
  <div class="fullname2">{{selectedstudent.name | uppercase}} {{selectedstudent.surname}}</div>
  <div class="fullname2"><span>group&nbsp; :</span>&nbsp;&nbsp;  &nbsp;{{selectedstudent.group}}</div>
</div>
<div >
  <div class="span-view"><span >Justification:</span></div><textarea  class="justification-text" readonly="readonly">{{selectedstudent.justification}}</textarea>
</div>

</div>
<div class="button-log"><button class="but-login"><b><a>confirm</a></b></button><button class="but-login"><b>Delete</b></button></div>
</div>

</div>