<div class=" full">
  <div id="background"></div> 
<div class="form" >
  <img class="art" src="../../assets/ESI-logo.svg">
  
  <div class="name" ><h5 class="title1">Email</h5>       <input [(ngModel)]="UserName" class="input-form" placeholder="Enter your email"/></div>
    <div class="name" >  <h5 class="title2">Password</h5>     <input [(ngModel)]="Password" class="input-form" type="password" placeholder="Enter your password"/></div>  
    <div class="button-log"><button class="but-login" (click)="onLoginClick()" ><b>Login</b></button></div>
    <div><p *ngIf="wronguser" class="messege">Wrong username or password ..</p></div>
  </div> 
</div>




