<div id="background"></div>
<header><div class="user">Hi {{teacheruser}}</div><button class="but-logout1" (click)="Students()" ><b>Students</b></button><button class="but-logout" [routerLink]="['/Login']" ><b>Logout</b></button></header>

<div class="main-container">
<div class="mail">
  <div class="title1"><b>EmailBox</b></div>
<ul class="students">
  <li *ngFor="let student of STUDENTS"
    [class.selected]="student === selectedstudent"
    (click)="onSelect(student)">
    <div class="fullname">{{student.fullName| uppercase}}</div> 
  </li>
</ul>
</div>
<div *ngIf="selectedstudent" class="details" >
<div class="title2"><b>Details</b></div>
<div class="justification-view">
<div class="details-view">
  <div class="fullname2">{{selectedstudent.fullName| uppercase}}</div>  
</div>
<div >
  <div class="span-view"><span >Justification:</span></div><textarea  class="justification-text" readonly="readonly">{{selectedjustification.cause}}</textarea>
  <div class="img-container"><img  class="justimage" src={{selectedjustification.image}}></div>
</div>

</div>
<div class="button-log"><button class="but-login" (click)="OnConfirm()"><b><a>confirm</a></b></button><button class="but-login" (click)="OnDelete()"><b>Delete</b></button></div>
</div>

</div>